<a href="/contacts">Back To Contacts</a>

<h1>Contact Details</h1>
<p>First Name: <%= @contact.first_name %></p>
<p>Last Name: <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<p>Message: <%= @contact.message %></p>
